# OpenAI
OPENAI_API_KEY=

# Hugging Face
HF_TOKEN=

# MongoDB Atlas
MONGODB_URI=

# Microsoft Translator
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=

# LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=dual-agents

# App
ENVIRONMENT=local
APP_NAME=Dual AI Personal Assistant
APP_HOST=127.0.0.1
APP_PORT=8000
